    /* 헤더 기본 설정 */
    body {
        font-weight: 400;
    }
    section {
        margin-top: 100px; /* 헤더 높이만큼 여백 추가 */
        height: 100vh; 
    }
    #mainNavbar {
        padding-left: 50px;
        align-items: center;
    }
    /* 기본 네비게이션 스타일 */
    .navbar {
        background-color: #ffffff;
        border-bottom: 1px solid #eee;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        transition: box-shadow 0.3s ease;
    }
    .navbar.scrolled {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .navbar-nav .nav-link {
        font-weight: 500;
        color: #5c5c5c;
        padding: 0.5rem 1rem;
        transition: color 0.2s ease;
        gap:20px;
    }
    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
        color: #2EC4B6; 
        font-weight: 500;
    }
    /* 드롭다운 메뉴 스타일 */
    .dropdown-menu {
        border-radius: 0.4rem;
        border: 1px solid #eee;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }
    .dropdown-item {
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
    }
    .dropdown-item:hover {
        background-color: #f9f9f9;
        color: #2EC4B6 !important;
    }
    /* 언어 선택 드롭 버튼 */
    #langDropdown {
    font-size: 0.875rem;
    padding: 0.375rem 0.75rem;
    }

    /* 로그인 버튼 */
    .btn.btn-primary {
    background-color: #2EC4B6;
    border-color: #038175;
    font-weight: 500;
    }

    .btn.btn-primary:hover {
    background-color: #038175;
    border-color: #038175;
    }

    /* 반응형 - 모바일 메뉴 */
    @media (max-width: 991.98px) {
        .navbar-nav .nav-link {
            padding: 0.75rem 1rem;
        }
        .dropdown-menu {
            position: static;
            float: none;
        } 
        .d-flex.align-items-center {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 1rem;
        }
        .d-flex.align-items-center > * {
            margin-bottom: 0.5rem;
        }       
    }